// Breakpoints

// 640px, 1024px, 1400px
$breakpoints-up: ("medium": "40em", "large": "64em", "xLarge": "87.5em");

// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.9375em","medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

// Transition
@mixin  easeInOut($action, $dur) {
  transition: $action $dur ease-in-out;
}

// Animation
@mixin animate($name) {
	animation: $name 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
}