// Colors
// Primary
$grayishBlue: hsl(237, 18%, 59%);
$softRed: hsl(345, 95%, 68%);

// Neutral
$white: hsl(0, 0%, 100%);
$darkDesaturatedBlue: hsl(236, 21%, 26%);
$veryDarkBlue: hsl(235, 16%, 14%);
$veryDarkBlack: hsl(234, 17%, 12%);
$bgSecondary: hsl(266, 19%, 15%);
$cardTop: hsl(234, 21%, 19%);

// Typography
// Font Size
$font-md: to-rem(14);

// Font Weight
$font-normal: 700;