@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}

main{
  display: flex;
  height: 100%;
  background-image: linear-gradient(hsla(234, 17%, 12%, 1), hsla(271, 23%, 18%, 0.99));
}

.App {
  display: flex;
  text-align: center;
  margin-bottom: 15rem;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

h1{
  margin-bottom: 2.5rem;
  letter-spacing: 7px;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 700;
}

.stars{
  position: absolute;
  background-image: url('../public/bg-stars.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mountains{
  position: absolute;
  background-image: url('../public/pattern-hills.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1080px;
  background-position-x: -604px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  width: 100%;
  bottom: 5%;
}

footer svg{
  cursor: pointer;
}

footer svg path:hover{
  fill: hsl(345, 95%, 68%);
}

@media (min-width:480px) {
  .stars{
    background-repeat: repeat;

  }
  .mountains{
    background-size: 100%;
    background-position-x: 0;
  }
  footer{
    bottom: 8%
  }
}
